<section id="contacts">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-lg-12">
        <h1>Contacts</h1>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-lg-12">
            <h4>Got questions, suggestions? Contact us.</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-5 col-sm-3 col-lg-2">
            <img class="media-object logo-2" src="/images/logo4.png" alt="">
          </div>
          <div class="col-xs-7 col-sm-3 col-lg-3">
            <div class="row">
              <p class="contact-label">Contact us </p>
              <p class="contact-value">codekeeper@pgcodekeeper.org</p>
            </div>
          </div>
          <div class="col-xs-5 col-sm-3 col-lg-3">
            <p class="contact-label">Company address</p>
            <p class="contact-value">117/V, Koli Myagotina Street, Kurgan, Kurgan region, Russia, 640000</p>
          </div>
          <div class="col-xs-7 col-sm-3 col-lg-4">
            <div id="social-icons-block" class="row">
              <p class="contact-label">We are in social networks</p>
              <div>
                <a href="https://www.facebook.com/groups/232557363774517">
                  <img class="media-object social-icons" src="/images/facebook_logo.png" alt="">
                </a>
                <a href="https://plus.google.com/u/0/communities/105435455575347873922">
                  <img class="media-object social-icons" src="/images/google+logo.png" alt="">
                </a>
              </div>
            </div>
            <div class="row">
              <p class="contact-label">
                Get in touch with us through <a href="https://telegram.me/joinchat/Bxn1Zwh02WM96O-55GAryA">Telegram</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
