<footer id="main-footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-lg-6 text-left">
          <p class="copyright">&copy; LLC "TAXTELECOM" 2023</p>
      </div>
         <div class="col-xs-12 col-sm-6 col-lg-6 text-right">
          <p class="license-footer">The source code for pgCodeKeeper is available for free on GitHub. <wbr>Under the terms of the <a href="/license.html"> Apache License, Version 2.0</a></p>
      </div>
    </div>
  </div>
</footer>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-GEXCEW6LBZ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-GEXCEW6LBZ');
</script>

<script src="/js/main.min.js"></script>