<footer id="main-footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-lg-6">
        <span>Share</span>
        <div class="social-likes-custom social-likes">
          <div class="facebook" title="Share link on Facebook">Facebook</div>
          <div class="twitter" title="Share link on Twitter">Twitter</div>
          <div class="plusone" title="Share link on Google+">Google+</div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-lg-6">
        <p class="copyright">&copy; LLC "Technology" 2017</p>
      </div>
    </div>
  </div>
</footer>

<script src="js/main.min.js"></script>
