<p>pgCodeKeeper is an addition to the Eclipse development framework. Please do the following steps  to install pgCodeKeeper:</p>
<ol>
  <li>Install Java SDK for your platform (required for the Eclipse starting). Click this
    <a href='http://www.oracle.com/technetwork/java/javase/downloads/index.html'>link</a> to download.
  </li>
  <li>Install the <a href='https://eclipse.org/downloads/'>Eclipse</a> platform.</li>
  <li>Start the Eclipse. Choose the menu option
    <span class='product-name'>«Help»</span> - <span class='product-name'>«Install new software»</span>,
    enter URL <a class='js-emaillink'>http://pgcodekeeper.org/update/</a> in the opened dialogue
    in the field <span class='product-name'>«Work with»</span>
    <button class='copy-link-btn js-emailcopybtn' id='popoverbutton' data-toggle='tooltip' data-placement='top' title='Copy'>
      <i class='fa fa-clone' aria-hidden='true'></i>
    </button>
    press «Enter». Choose <span class='product-name'>pgCodeKeeper</span> from the list of available plugins
    and install the plugin according to the installation wizard prompts.
  </li>
  <li>Reload the Eclipse. Now pgCodeKeeper has been successfully installed.</li>
</ol>
<p>pgCodeKeeper CLI version is available on <a href='https://github.com/pgcodekeeper/pgcodekeeper/releases'>Github</a>.</p>
