<p>pgCodeKeeper is an Eclipse IDE plug-in. Please follow these steps to install pgCodeKeeper:</p>
<ol>
  <li>Install <a href='https://www.oracle.com/java/technologies/downloads/'>Java SDK</a> for your platform (required to run Eclipse).
  </li>
  <li>Install <a href='https://eclipse.org/downloads/'>Eclipse</a> platform.</li>
  <li>Launch Eclipse. Drag the Install button on the main Eclipse window.
    <a href='http://marketplace.eclipse.org/marketplace-client-intro?mpc_install=4065142' class='drag' title='Drag to your running Eclipse* workspace. *Requires Eclipse Marketplace Client'>
    <img typeof='foaf:Image' class='img-responsive' src='https://marketplace.eclipse.org/sites/all/themes/solstice/public/images/marketplace/btn-install.png' alt='Drag to your ruегоnning Eclipse* workspace. *Requires Eclipse Marketplace Client'>
    </a>
    Alternatively, use menu option
    <span class='product-name'>«Help»</span> - <span class='product-name'>«Install new software»</span>,
    enter <a class='js-emaillink'>http://pgcodekeeper.org/update/</a>
    <a class='copy-link-btn js-emailcopybtn' id='popoverbutton' data-toggle='tooltip' data-placement='top' title='Copy'>
      <i class='fa fa-clone' aria-hidden='true'></i>
    </a>
    URL in the dialogue's <span class='product-name'>«Work with»</span> field and
    press «Enter». Choose <span class='product-name'>pgCodeKeeper</span> from the list of available plug-ins
    and install the plug-in according to the installation wizard prompts.
  </li>
  <li>Restart Eclipse. pgCodeKeeper has been successfully installed.</li>
</ol>
<p>pgCodeKeeper CLI version is available on <a href='https://github.com/pgcodekeeper/pgcodekeeper/releases'>Github</a>.</p>
