<p>pgCodeKeeper is an Eclipse IDE plug-in. Please follow these steps to install pgCodeKeeper:</p>
<ol>
  <li>Install Java SDK for your platform (required to run Eclipse). Click this
    <a href='http://www.oracle.com/technetwork/java/javase/downloads/index.html'>link</a> to download.
  </li>
  <li>Install <a href='https://eclipse.org/downloads/'>Eclipse</a> platform.</li>
  <li>Launch Eclipse. Use menu option
    <span class='product-name'>«Help»</span> - <span class='product-name'>«Install new software»</span>,
    enter <a class='js-emaillink'>http://pgcodekeeper.org/update/</a>
    <button class='copy-link-btn js-emailcopybtn' id='popoverbutton' data-toggle='tooltip' data-placement='top' title='Copy'>
      <i class='fa fa-clone' aria-hidden='true'></i>
    </button>
    URL in the dialogue's <span class='product-name'>«Work with»</span> field and
    press «Enter». Choose <span class='product-name'>pgCodeKeeper</span> from the list of available plug-ins
    and install the plug-in according to the installation wizard prompts.
  </li>
  <li>Restart Eclipse. pgCodeKeeper has been successfully installed.</li>
</ol>
