<footer id="main-footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-lg-6 text-left">
          <p class="copyright">&copy; ООО "ТАКСТЕЛЕКОМ" 2023</p>
      </div>
         <div class="col-xs-12 col-sm-6 col-lg-6 text-right">
          <p class="license-footer">Исходный код pgCodeKeeper доступен бесплатно на GitHub. <wbr>На условиях <a href="/license.html"> Apache License, Version 2.0</a></p>
      </div>
    </div>
  </div>
</footer>

<script src="/js/main.min.js"></script>