<footer id="main-footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-lg-6">
        <span>Поделиться</span>
        <div class="social-likes-custom social-likes">
          <div class="facebook" title="Поделиться ссылкой на Фейсбуке">Facebook</div>
          <div class="twitter" title="Поделиться ссылкой в Твиттере">Twitter</div>
          <div class="vkontakte" title="Поделиться ссылкой во Вконтакте">Вконтакте</div>
          <div class="plusone" title="Поделиться ссылкой в Гугл-плюсе">Google+</div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-lg-6">
        <p class="copyright">&copy; ООО "Технология" 2017</p>
      </div>
    </div>
  </div>
</footer>

<script src="js/main.min.js"></script>
