<p>pgCodeKeeper является дополнением к среде разработки Eclipse. Для установки pgCodeKeeper выполните следующие шаги:</p>
<ol>
  <li>Установите Java SDK для вашей платформы (требуется для запуска Eclipse). Скачать можно по
    <a href='http://www.oracle.com/technetwork/java/javase/downloads/index.html'>ссылке</a>.
  </li>
  <li>Установите платформу <a href='https://eclipse.org/downloads/'>Eclipse</a>.</li>
  <li>Запустите Eclipse. Выберите пункт меню
    <span class='product-name'>«Help»</span> - <span class='product-name'>«Install new software»</span>,
    в открывшемся диалоге в поле <span class='product-name'>«Work with»</span>
    введите URL <a class='js-emaillink'>http://pgcodekeeper.ru/update/release/</a>
    <button class='copy-link-btn js-emailcopybtn' id='popoverbutton' data-toggle='tooltip' data-placement='top' title='Скопировать'>
      <i class='fa fa-clone' aria-hidden='true'></i>
    </button>
    и нажмите «Enter». В списке доступных плагинов выберите <span class='product-name'>pgCodeKeeper</span> и проведите
    инсталляцию плагина согласно подсказкам визарда установки.
  </li>
  <li>Перезагрузите Eclipse. Теперь pgCodeKeeper должен быть успешно установлен!</li>
</ol>
<p>Версию для неинтерактивной работы pgCodeKeeper можно взять на <a href='https://github.com/pgcodekeeper/pgcodekeeper/releases'>Github</a>.</p>
